<% if user_signed_in? %>
<div class="container mt-4">
 <div class="card">
   <% if @article && @article["urlToImage"].present? %>
     <%= image_tag @article["urlToImage"], class: "card-img-top" %>
   <% else %>
     <p>いらすとやの画像を挿入する</p>
   <% end %>
   <div class="card-body">
     <h5 class="card-title"><%= @article["title"] %></h5>
     <%= @article["description"] %>
     <a href="<%= @article["url"] %>" class="btn btn-primary">元の記事を読む</a>
   </div>
   <%= link_to "[ニュース一覧へ]", news_index_path %>

     <% article_id = @article["url"][/(\d+)(?!.*\d)/].to_i %>
     <% if current_user.bookmarked_articles.include?(article_id) %>
        <%= link_to 'お気に入り解除', bookmark_path(article_id: article_id), method: :delete %>
     <% else %>
        <%= link_to 'この記事をブックマーク登録する', bookmarks_path(article_id: article_id), method: :post %>
     <% end %>
 </div>
</div>

<% else %>
<div class="container mt-4">
 <div class="card">
   <% if @article && @article["urlToImage"].present? %>
     <%= image_tag @article["urlToImage"], class: "card-img-top" %>
   <% else %>
     <p>いらすとやの画像を挿入する</p>
   <% end %>
   <div class="card-body">
     <h5 class="card-title"><%= @article["title"] %></h5>
     <%= @article["description"] %>
   </div>
   <%= link_to "[ニュース一覧へ]", news_index_path %>
   
  </div>
</div>
<% end %>
