<header class="sticky-top bg-light">
 <p>Powered by <%= link_to "https://newsapi.org" do %> News API <% end %> </p>
 <p>現在の最新のニュースです（時刻を表示する）</p>
 <%= link_to "トップページに戻る", homes_index_path %>
</header>

<div class="album py-5 bg-light">
 <div class="container">
   <div class="row">
     <% @articles.each do |article| %>
       <div class="col-md-4">
         <div class="card mb-4 shadow-sm">
           <% if article.image_url.present? %>
             <%= image_tag(article.image_url, class: "item-img") %>
           <% else %>
             <p>いらすとやの画像を挿入する</p>
           <% end %>
           <div class="card-body">
             <p class="card-text">
               <%= article.title %>
               <%= link_to "詳細を見る", article_path(article) %>
             </p>
           </div>
         </div>
       </div>
     <% end %>
   </div>
 </div>
</div>
